:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --drop-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.row {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

input, textarea, select {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: .25em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--text-color-2);
  background-color: var(--primary-color);
  transition: border-color 0.25s;
  box-shadow: var(--drop-shadow);
  outline: none;
}

textarea {
  vertical-align: top;
}

input:focus {
  border: 1px solid var(--text-color-2);
}

input[type=checkbox] {
  zoom: 2;
}

@media (prefers-color-scheme: dark) {
  a:hover {
    color: #24c8db;
  }
}

/* ------------ My Styles --------------- */

/* filters for svgs from https://codepen.io/sosuke/pen/Pjoqqp */

[theme-mode="light"] {
  --accent-color: #7fb0e1;
  --red-color: #C05B5B;
  --background-color: #d9d9d9;
  --tertiary-color: #e2e2e2; 
  --secondary-color: #ebebeb;
  --primary-color: #f5f5f5;
  --text-color-1: #5b5b5b;
  --text-color-2: #000000; 
  --filter-text-color-1: invert(40%) sepia(0%) saturate(1031%) hue-rotate(163deg) brightness(81%) contrast(80%);
  --filter-text-color-2: invert(0%) sepia(4%) saturate(0%) hue-rotate(337deg) brightness(100%) contrast(107%);
}

[theme-mode="dark"] {
  --accent-color: #348ce5;
  --red-color: #B82828;
  --background-color: #222222;
  --tertiary-color: #272727;
  --secondary-color: #2d2d2d;
  --primary-color: #323232;
  --text-color-1: #969696;
  --text-color-2: #f6f6f6;
  --filter-text-color-1: invert(62%) sepia(1%) saturate(0%) hue-rotate(32deg) brightness(99%) contrast(82%);
  --filter-text-color-2: invert(99%) sepia(3%) saturate(40%) hue-rotate(1deg) brightness(114%) contrast(93%); 
}

:root {
  height:100vh;
  width: 100vw;
  overflow: scroll;
  
  /* My Vars */
  /* --accent-hightlight-filter: invert(64%) sepia(64%) saturate(4659%) hue-rotate(188deg) brightness(91%) contrast(97%); */
  color: var(--text-color-2);
  background-color: var(--background-color);
}:focus

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  margin: 0;
}

.truncated {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Header Styles */

.header {
  background-color: var(--accent-color);
  height: 4em;
}

.header h1 {
  padding: .75em;
  margin: 0;
}

/* Navigation Styles */

nav {
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    background-color: var(--primary-color);
    height: calc(100% - 1em);
    padding-top: 1em;
    overflow: scroll;
}

nav a {
  font-weight: 500;
  font-size: 20px;
  line-height: 2.5em;
  text-decoration: inherit;
  color: var(--text-color-1);
  padding: 0 .75em;
}

nav a.float-bottom {
  margin-top: auto;
}

nav a span {
  padding-left: .75em;
}

nav a.active{
  color: var(--text-color-2);
  border-left: .2em solid var(--accent-color);
  padding: 0 .75em 0 0.55em;
}

nav a:hover {
  color: var(--text-color-2);
}

img.info-icon {
  height: 1.875em;
  width: 1.875em;
  vertical-align: middle;
  filter: var(--filter-text-color-1);
}

img.icon {
  height: 1.5em;
  width: 1.5em;
  vertical-align: middle;
  filter: var(--filter-text-color-1);
}

nav a.active img.icon {
  filter: var(--filter-text-color-2);
}

nav a:hover img.icon {
  filter: var(--filter-text-color-2);
}

/* Page content */

img.icon.interactive:hover {
  filter: var(--filter-text-color-2);
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: row;
  /* 
    Hack but height:100% overflows likely due to flex
    4em comes from 4em height from header
  */
  height: calc(100vh - 4em); 
}

.content {
  text-align: center;
  width: 100%;
  max-height: 100%;
  padding: 1em;
  overflow: scroll;
}

.page_content {
  margin: 1em;
}

.dashboard-item {
  border-radius: .5em;
}

.pannel {
  height: 100%;
  background-color: var(--secondary-color);
}

span.interactive:hover {
  cursor: pointer;
  text-decoration: underline;
}

button {
  background-color: var(--accent-color);
  border-radius: .5em;
  width: fit-content;
  height: fit-content;
  transition: 0.1s;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;
  box-shadow: var(--drop-shadow);
  color: var(--text-color-2);
  padding: .375em
}

button:hover {
  transition: 0.25s;
  border: 1px solid var(--text-color-2);
}

button:focus {
  border: 1px solid var(--text-color-2);
} 

button:active {
  background-color: var(--primary-color);
}

button img {
  height: 1.75em;
  width: 1.75em;
  filter: var(--filter-text-color-2);
  display: block;
}

/* Dashboard tiling */
.tile-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch;
}

.tile {
  flex-basis: content;
  flex-grow: 1;
  margin: .5em;
  background-color: var(--tertiary-color);
  border-radius: .5em;
  position: relative;
}

div .tile-header {
  border-radius: .5em .5em 0 0;
  background-color: var(--accent-color);
  text-align: center;
}

.tile-header h2 {
  margin: 0;
  padding: .5em 2em .25em 2em;
}

.tile-contents {
  padding: 1em;
  height: calc(100% - 4.625em);
  width: auto;
  display: flex;
  flex-direction: column;
}

.tile-contents p {
  margin: .25em;
}

.tile-contents p:first-child {
  margin-top: 0;
}
.tile-contents p:last-child {
  margin-bottom: 0;
}

div.tile-button-br button {
  border-radius: 0.5em 0;
  font-size: 16px;
}

div.tile-button-bl button {
  border-radius: 0 0.5em;
  font-size: 16px;
}

div.tile-button div {
  transition: rotate .2s ease-in-out; 
  will-change: transform;
}

div.tile-button {
  background-color: var(--background-color);
  position: absolute;
  width: calc(2.5em + 1px);
  height: calc(2.5em + 1px);
  padding: .25em;
}

div.tile-button.tile-button-br {
  bottom: calc(-.25em + 1px);
  right: calc(-.25em + 1px);
  border-radius: .5em 0;
}

div.tile-button.tile-button-bl {
  bottom: calc(-.25em + 1px);
  left: calc(-.25em + 1px);
  border-radius: 0 .5em;
}

div.tile-button-spacer {
  height: 2.5em;
  width: 100%;
  background-color: transaprent;
}

.abs-br {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

/* Table styling */

table {
  border-collapse: collapse;
  --table-border-radius: 0.35em;
  width: -webkit-fill-available;
}

thead tr:first-child th:first-child, thead tr:first-child td:first-child {
  border-top-left-radius: var(--table-border-radius);
}

thead tr:first-child th:last-child, thead tr:first-child td:last-child {
  border-top-right-radius: var(--table-border-radius);
}

tbody tr:last-child th:first-child, tbody tr:last-child td:first-child {
  border-bottom-left-radius: var(--table-border-radius);
}

tbody tr:last-child th:last-child, tbody tr:last-child td:last-child {
  border-bottom-right-radius: var(--table-border-radius);
}

tr:nth-child(even) {
  background-color: var(--secondary-color);
}

tr:nth-child(odd) {
  background-color: var(--tertiary-color);
}

tr.table-header-row {
  background-color: var(--accent-color);
}

tr.table-header-row > th, td, th {
  padding: .2em .5em 0 .5em;
}

table.interactive tbody tr:not(:first-child):hover, 
  table.interactive tbody tr:hover {
  cursor: pointer;
  background-color: var(--primary-color);
}

div.tableWrap {
  max-height: 100%;
  overflow-y: scroll;
}

div.tableWrap > table > thead {
  position: sticky;
  top: 0;
}

form {
  text-align: center;
}

#transfer-type-select {
  margin: -1em 0 0 -1em;
  width: fit-content;
  border-radius: 0 0 0 0.5em;
  height: calc(100% + 1em);
}

#new-tx-content {
  flex-direction: row;
}

#new-tx-content > div {
  width: 100%;
  padding: 1em;
}

div#transaction-transfers {
  max-height: calc(min(20em, 55vh));
  overflow-y: scroll;
  border-radius: var(--table-border-radius);
}

/* General Styles */
.flex-row {
  flex-direction: row !important;
}

.ta-c {
  text-align: center;
}

.bg-p {
  background-color: var(--primary-color) !important;
}
.bg-red {
  background-color: var(--red-color);
}

.sticky-top {
  position: sticky;
  top: 0;
}

.hide-overflow {
  overflow: hidden;
}